<% content_for :title, "Editing user" %>

<div class="mx-auto md:w-2/3 w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Editing user</h1>
    <%= link_to "Back to users", users_path, class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  </div>

  <%= render "form", user: @user %>
</div>
