<div class="navbar bg-base-200 shadow-sm">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl"><span class="text-red-500 -mr-1">R</span>ewind</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li><%= link_to "Buscar", buscar_index_path %></li>
            <% if authenticated? %>
                <li><%= link_to "Clubs", clubs_path %></li>
                <li><%= link_to "Courts", courts_path %></li>
                <li><%= button_to "Log out", session_path, method: :delete %></li>
            <% end %>
        </ul>
    </div>
</div>